CONFIG_STATIC=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_LS=y
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
CONFIG_DMESG=y
CONFIG_UNAME=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_HALT=y
CONFIG_TC=n
CONFIG_FEATURE_TC_INGRESS=n
CONFIG_FEATURE_IP_RARE_PROTOCOLS=n